@import "tailwindcss";

body {
  background: #000000;
  color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
